<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender,log4net">
      <file value="Logs.log" />
      <!-- the location where the log file would be created -->
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>

  <appSettings>
    <add key="logPath" value="log.log"/>
    <add key="KanbanRowCount" value="27"/>
    <add key="BoxLabelPrn" value="C:\Jayant\Clients\BarcodeScanningApplication\BarcodeScanningApplication\scanningwindowsapplication\PrnFiles\BOSCH_CHASSIS_300_dpi.prn" />
    <add key="PalleteLabelPrn" value="C:\Jayant\Clients\BarcodeScanningApplication\BarcodeScanningApplication\scanningwindowsapplication\PrnFiles\Pallet Label.prn" />
    <add key="TempBoxLabelPrn" value="C:\Jayant\Clients\BarcodeScanningApplication\BarcodeScanningApplication\scanningwindowsapplication\PrnFiles\TempBoxLabel.prn" />
    <add key="TempPalletLabelPrn" value="C:\Jayant\Clients\BarcodeScanningApplication\BarcodeScanningApplication\scanningwindowsapplication\PrnFiles\TempPalletLabel.prn" />
    <add key="PrinterName" value="Canon MF230 Papa" />

    <add key="Timer" value="30" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ReprintLabel" value="true"/>
    <add key="EnablePrinting" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="myDataBase" connectionString="Data Source=.;Initial Catalog=BOSCH_PPTS;User id=sa;Password=Atos123$;"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>